
<IfModule mod_rewrite.c>
  RewriteEngine On
  <Directory "/var/www/Full-Sail/Eximius-in-Laravel/public">
    RewriteBase /public
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php [L,QSA]
  </Directory>
</IfModule>
