/**
 * ListView.scss
 *
 * Eximius
 * Alexander Rhett Crammer
 * Advanced Server-Side Languages
 * Full Sail University
 * Created Friday, 4 Dec. 2015
 */
/* Extend 'Main.scss' */
/**
 * Main.scss
 *
 * Eximius
 * Alexander Rhett Crammer
 * Advanced Server-Side Languages
 * Full Sail University
 * Created Tuesday, 24 Nov. 2015
 */
/* Variables */
/* Colours */
/* Mixins */
/* Structure */
body {
  background-color: black; }

img {
  width: 100%; }

/* Experience */
::-moz-selection {
  background: deeppink;
  /* Webkit and Blink */ }
::selection {
  background: deeppink;
  /* Webkit and Blink */ }

::-moz-selection {
  background: deeppink;
  /* Gecko */ }

/* Buttons */
button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #d4af37;
  font-family: "Bebas Neue";
  font-size: 1em;
  padding: 15px 20px;
  letter-spacing: 1.15px;
  outline: none;
  transition: all 175ms; }

button:hover {
  background-color: #d4af37;
  border-color: #473a12; }

button:active {
  background-color: #6a581c;
  border-color: #352c0e; }

button.blue {
  border-color: #5abbe2;
  margin: 7.5% 5%;
  padding: 2.5% 7.5%; }

button.blue:hover {
  background-color: #5abbe2; }

button.blue:active {
  border-color: #2d5e71;
  background-color: #244b5a; }

/* Navigation */
nav {
  overflow: auto;
  text-align: center;
  width: 100%; }
  nav ul:first-of-type li {
    float: left;
    margin-left: 35px; }
  nav ul:last-of-type li {
    float: right;
    margin-right: 35px; }
  nav li {
    display: inline;
    font-size: 0.75em;
    padding: 40px 0; }
  nav div.logo {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 335px;
    right: 335px; }
    nav div.logo a {
      background: -webkit-linear-gradient(top, #d4af37 0%, #c9a73a 100%);
      /* Chrome 10-25, Safari 5.1-6 */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: block;
      font-family: "Bauru";
      font-size: 4em;
      line-height: 172.5%;
      padding: 0; }
    nav div.logo a:hover {
      font-style: normal; }
  nav a,
  nav a:link,
  nav a:visited {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    color: #d4bb6c;
    letter-spacing: 1.75px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 125ms; }
  nav a:hover {
    color: #efdca0;
    font-style: italic; }
  nav a:active {
    color: #7b7b7b; }

nav:last-of-type ul:last-of-type {
  margin-right: 5%; }

/* Links */
a:link,
a:link,
a:link,
a:link {
  text-decoration: none;
  transition: all 125ms; }

a:link, a:visited {
  color: #f1d681; }

a:hover {
  color: #ffd758; }

a:active {
  color: #866e23; }

/* Form */
form {
  overflow: hidden; }

.field-container, .profile-data-container {
  margin-left: 40% !important;
  width: 70% !important; }

label {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 200;
  color: white;
  display: block;
  font-size: 1.35em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 2.5% 5% 0; }

.tiny-label {
  display: inline;
  font-size: 0.9em;
  line-height: 300%;
  margin: 2.5% 0 0 5%; }

input[type="text"], .profile-data-container,
input[type="email"],
textarea {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 200;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4af37;
  color: #e4e4e4;
  font-size: 1em;
  letter-spacing: 0.65px;
  padding: 2.5% 5%;
  margin: 2.5% 5%;
  width: 60%; }

input[type="file"] {
  color: white;
  margin: 5% 10% 7.5%;
  width: 70%; }

/* Profile Information */
.profile-data-container {
  border: 0; }
  .profile-data-container label {
    margin: 0; }
  .profile-data-container p {
    margin: 3.5% 2.5%; }

/* Invalid input */
.probs {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 0.85em;
  line-height: 175%;
  letter-spacing: 0.65px;
  margin-top: 25px;
  text-align: center; }

.probs p {
  border-bottom: 1px solid #d4af37;
  margin: 15px auto;
  margin-left: 10%;
  width: 80%; }

/* Fonts */
@font-face {
  font-family: "Bauru";
  src: url("/assets/fonts/bauru.eot");
  src: url("/assets/fonts/bauru.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bauru.woff2") format("woff2"), url("/assets/fonts/bauru.woff") format("woff"), url("/assets/fonts/bauru.ttf") format("truetype"), url("/assets/fonts/bauru.svg#baururegular") format("svg"); }

@font-face {
  font-family: 'Bebas Neue';
  src: url("/assets/fonts/bebasneue_regular.eot");
  src: url("/assets/fonts/bebasneue_regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bebasneue_regular.woff2") format("woff2"), url("/assets/fonts/bebasneue_regular.woff") format("woff"), url("/assets/fonts/bebasneue_regular.ttf") format("truetype"), url("/assets/fonts/bebasneue_regular.svg#bebas_neue_regularregular") format("svg"); }

@font-face {
  font-family: 'Bebas Neue';
  src: url("/assets/fonts/bebasneue_thin.eot");
  src: url("/assets/fonts/bebasneue_thin.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bebasneue_thin.woff2") format("woff2"), url("/assets/fonts/bebasneue_thin.woff") format("woff"), url("/assets/fonts/bebasneue_thin.ttf") format("truetype"), url("/assets/fonts/bebasneue_thin.svg#bebas_neuethin") format("svg");
  font-weight: 100;
  font-style: normal; }

/**
 * Extra fonts (it was easy to go ahead
 * and add them to the filesystem so...)
 */
/* Structure */
.container {
  margin: 5% auto;
  width: 85%; }

/* Listings */
.list-item {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 200;
  color: #e4e4e4;
  letter-spacing: 0.5px;
  line-height: 150%;
  margin: 5% auto; }
  .list-item h4, .list-item h5 {
    font-family: "Bebas Neue";
    font-size: 1em;
    font-weight: 500;
    font-size: 2.75em;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    line-height: 115%;
    margin-bottom: 2.5%; }
  .list-item h5 {
    font-size: 1.25em;
    letter-spacing: 1px;
    margin-top: -0.75%;
    margin-bottom: 1.75%; }
  .list-item h6 {
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1.35px;
    margin: 10px 0 5px;
    text-transform: uppercase; }
  .list-item p {
    font-size: 0.925em;
    padding: 4px 2.5px;
    width: 75%; }
    .list-item p b {
      font-weight: 600; }
  .list-item li {
    line-height: 135%; }
  .list-item button {
    display: block;
    margin-top: 2.5%;
    margin-left: 0.5%; }

.list-item:first-of-type {
  margin-top: 7.5%; }

/* Chronologic Buttons and Links */
.chronologic-buttons {
  text-align: center; }
  .chronologic-buttons a:not(.button):link,
  .chronologic-buttons a:not(.button):visited {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    color: #e4e4e4;
    display: inline-block;
    padding: 2.5% 1.75%; }
  .chronologic-buttons a:not(.button):hover {
    color: #ffdb45; }
  .chronologic-buttons a:not(.button):active {
    color: #d4af37; }
  .chronologic-buttons button {
    margin: 0 2.5%; }

/* Creating Items */
.composition-form {
  margin: auto;
  width: 50%; }
  .composition-form .probs {
    margin-top: 0;
    margin-bottom: 50px; }
  .composition-form p.prob:last-of-type {
    margin-bottom: 7.5%; }
  .composition-form h4, .composition-form .list-item h5, .list-item .composition-form h5 {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    color: white;
    font-weight: 100;
    font-size: 1.25em;
    letter-spacing: 1.5px;
    margin-bottom: 6.5%; }
  .composition-form input[type="text"], .composition-form .profile-data-container,
  .composition-form textarea {
    padding: 5% 0;
    margin: 2.5% 0;
    resize: vertical;
    text-indent: 7.5%;
    transition: all 225ms;
    width: 100%; }
  .composition-form input[type="text"]:hover, .composition-form .profile-data-container:hover,
  .composition-form textarea:hover {
    background-color: rgba(255, 255, 255, 0.125); }
  .composition-form input[type="text"]:focus, .composition-form .profile-data-container:focus,
  .composition-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.125);
    outline: 2px solid #6a581c; }
  .composition-form textarea {
    line-height: 150%;
    padding: 7.5%;
    text-indent: 0;
    width: 85%; }
  .composition-form button {
    margin: 7.5%;
    margin-left: 26%;
    width: 50%; }
