/**
 * Main.scss
 *
 * Eximius
 * Alexander Rhett Crammer
 * Advanced Server-Side Languages
 * Full Sail University
 * Created Tuesday, 24 Nov. 2015
 */
/* Variables */
/* Mixins */
/* Structure */
body {
  background-color: black; }

img {
  width: 100%; }

/* Navigation */
nav {
  overflow: auto;
  text-align: center;
  width: 100%; }
  nav ul:first-of-type li {
    float: left;
    margin-left: 35px; }
  nav ul:last-of-type li {
    float: right;
    margin-right: 35px; }
  nav li {
    display: inline;
    font-size: 0.75em;
    padding: 60px 0; }
  nav div.logo {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 335px;
    right: 335px; }
    nav div.logo a {
      background: -webkit-linear-gradient(top, #d4af37 0%, #c9a73a 100%);
      /* Chrome 10-25, Safari 5.1-6 */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: block;
      font-family: "Bauru";
      font-size: 4em;
      line-height: 172.5%;
      padding: 0; }
    nav div.logo a:hover {
      font-style: normal; }
  nav a,
  nav a:link,
  nav a:visited {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    color: #d4bb6c;
    letter-spacing: 1.75px;
    padding: 60px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 125ms; }
  nav a:hover {
    color: #efdca0;
    font-style: italic; }
  nav a:active {
    color: #7b7b7b; }

/* Fonts */
@font-face {
  font-family: "Bauru";
  src: url("/assets/fonts/bauru.eot");
  src: url("/assets/fonts/bauru.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bauru.woff2") format("woff2"), url("/assets/fonts/bauru.woff") format("woff"), url("/assets/fonts/bauru.ttf") format("truetype"), url("/assets/fonts/bauru.svg#baururegular") format("svg"); }

@font-face {
  font-family: 'Bebas Neue';
  src: url("/assets/fonts/bebasneue_regular.eot");
  src: url("/assets/fonts/bebasneue_regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bebasneue_regular.woff2") format("woff2"), url("/assets/fonts/bebasneue_regular.woff") format("woff"), url("/assets/fonts/bebasneue_regular.ttf") format("truetype"), url("/assets/fonts/bebasneue_regular.svg#bebas_neue_regularregular") format("svg"); }

/**
 * Extra fonts (it was easy to go ahead
 * and add them to the filesystem so...)
 */

/**
 * Welcome.scss
 *
 * Eximius
 * Alexander Rhett Crammer
 * Advanced Server-Side Languages
 * Full Sail University
 * Created Tuesday, 24 Nov. 2015
 */
/* Extend 'Main.scss' */
/**
 * Main.scss
 *
 * Eximius
 * Alexander Rhett Crammer
 * Advanced Server-Side Languages
 * Full Sail University
 * Created Tuesday, 24 Nov. 2015
 */
/* Variables */
/* Mixins */
/* Structure */
body {
  background-color: black; }

img {
  width: 100%; }

/* Navigation */
nav {
  overflow: auto;
  text-align: center;
  width: 100%; }
  nav ul:first-of-type li {
    float: left;
    margin-left: 35px; }
  nav ul:last-of-type li {
    float: right;
    margin-right: 35px; }
  nav li {
    display: inline;
    font-size: 0.75em;
    padding: 60px 0; }
  nav div.logo {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 335px;
    right: 335px; }
    nav div.logo a {
      background: -webkit-linear-gradient(top, #d4af37 0%, #c9a73a 100%);
      /* Chrome 10-25, Safari 5.1-6 */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: block;
      font-family: "Bauru";
      font-size: 4em;
      line-height: 172.5%;
      padding: 0; }
    nav div.logo a:hover {
      font-style: normal; }
  nav a,
  nav a:link,
  nav a:visited {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    color: #d4bb6c;
    letter-spacing: 1.75px;
    padding: 60px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 125ms; }
  nav a:hover {
    color: #efdca0;
    font-style: italic; }
  nav a:active {
    color: #7b7b7b; }

/* Fonts */
@font-face {
  font-family: "Bauru";
  src: url("/assets/fonts/bauru.eot");
  src: url("/assets/fonts/bauru.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bauru.woff2") format("woff2"), url("/assets/fonts/bauru.woff") format("woff"), url("/assets/fonts/bauru.ttf") format("truetype"), url("/assets/fonts/bauru.svg#baururegular") format("svg"); }

@font-face {
  font-family: 'Bebas Neue';
  src: url("/assets/fonts/bebasneue_regular.eot");
  src: url("/assets/fonts/bebasneue_regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bebasneue_regular.woff2") format("woff2"), url("/assets/fonts/bebasneue_regular.woff") format("woff"), url("/assets/fonts/bebasneue_regular.ttf") format("truetype"), url("/assets/fonts/bebasneue_regular.svg#bebas_neue_regularregular") format("svg"); }

/**
 * Extra fonts (it was easy to go ahead
 * and add them to the filesystem so...)
 */
/* Latest Blog Post */
.latest-blog-post {
  border-top: 5px solid #313131;
  border-bottom: 5px solid #313131;
  color: white;
  font-family: "Bebas Neue", "Helvetica Neue", "Helvetica", sans-serif; }

.latest-blog-post img {
  opacity: 0.25; }
