/**
 * Listings.scss
 *
 * Eximius
 * Alexander Rhett Crammer
 * Advanced Server-Side Languages
 * Full Sail University
 * Created Friday, 27 Nov. 2015
 */

/* Extend 'Main.scss' */
@import 'Main.scss';

/* Structure */
.container {
  margin: 5% auto;
  width: 85%;
}

/* Creating Listings */
.listing-creation-form {
  margin: auto;
  width: 50%;

  .probs {
    margin-top: 0;
    margin-bottom: 50px;
  }

  p.prob:last-of-type {
    margin-bottom: 7.5%;
  }

  h4 {
    @include helvetica-thin;
    color: white;
    font: {
      weight: 100;
      size: 1.25em;
    }
    letter-spacing: 1.5px;
    margin-bottom: 6.5%;
  }

  input[type="text"],
  textarea {
    padding: 5% 0;
    margin: 2.5% 0;
    resize: vertical;
    text-indent: 7.5%;
    transition: all 225ms;
    width: 100%;
  }

  input[type="text"]:hover,
  textarea:hover {
    background-color: rgba(255, 255, 255, 0.125);
  }

  input[type="text"]:focus,
  textarea:focus {
    background-color: rgba(255, 255, 255, 0.125);
    outline: 2px solid $gold / 2;
  }

  textarea {
    line-height: 150%;
    padding: 7.5%;
    text-indent: 0;
    width: 85%;
  }

  button {
    margin: 7.5%;
    margin-left: 26%;
    width: 50%;
  }
}
